.chart-controls {
  column-gap: 2rem;
  display: inline-grid;
  grid-template-columns: 30% 15% 30% 15%;
  row-gap: 0.5rem;
}

label {
  display: block;
  margin: 0.5rem 0;
}

label span {
  display: inline-block;
  width: 140px;
}
